# Bootstrap
app/bootstrap*

# Symfony directories
vendor/*
*/logs/*
*/cache/*
web/uploads/*
*/phpmyadmin/*

# Configuration files
app/config/parameters.ini
app/config/parameters.yml
/nbproject/private/

# Fichiers qui posent problème
web/bundles/CartoRepresentationsBundle/action/*
src/Carto/RepresentationsBundle/Ressources/views/Layouts/layout.html.twig
