{% extends "::base.html.twig" %}

{% block javascripts %}
{% javascripts 'bundles/CartoRepresentationsBundle/js/*' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock %}

{% block body %}

<div class="contenu">
{% block contenu %}

{% endblock %}
</div>

{% endblock %}


