{% extends "::base.html.twig" %}

{% block javascripts %}
{% javascripts 'bundles/CartoRepresentationsBundle/js/*' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock %}

{% block body %}{{ parent() }}

{% endblock %}

{% block utilsLeft %}{{ parent() }}
	<div>
	<input class="button" type='button' value='Representation wordnet' id='show_rep' onclick='disabled_button_and_show()'>
	</div>
	<div id = "wikipedia">
	</div>
{% endblock %}