{% extends "::base.html.twig" %}

{% block stylesheets %}{{ parent() }}
{% stylesheets 'bundles/CartoRepresentationsBundle/css/style.css' %}
	<link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
{% endstylesheets %}
{% endblock %}

{% block menuSuperieur %}{{ parent() }}
{% endblock %}

{% block body %}{{ parent() }}
{% endblock %}

{% block script %}
	$(document).ready(function(){
		$("#form_recherche").submit(function(){ 
			var search = $('#search').val();
			//var url = "http://localhost/bundles/CartoRepresentationsBundle/action/main_action.php"; // remy
			var url = "http://carto.localhost/bundles/CartoRepresentationsBundle/action/main_action.php"; // Celine
			//var url = "http://localhost/CartoSavoie/carto/web/bundles/CartoRepresentationsBundle/action/main_action.php"; // Juliana
			//var url = "http://localhost/Projet%20-%20Visualisation%20de%20donnees/carto/web/bundles/CartoRepresentationsBundle/action/main_action.php";// Anthony
			$.ajax({
				type: "POST",
				url: url,
				data: {
					cmd: 'search_action',
					search: search
				},
				cache: false,
				success: function(response) {
					var result = $.parseJSON(response);
					if(result.success){
						var data = result.data;
						if(representation){
							$('svg').remove();
						}
						representation.show(data); 
					}
				}
			});    
			return false;
		});
	});
	
	/*$(document).ready(function(){
		$( "#zoomIn" ).click(function() {
			if(representation){
				var svg = d3.select("svg");
				alert(svg);
				svg.call(d3.behavior.zoom().scaleExtent([1, 8]).on("zoom", function(){
					svg.attr("transform", "translate(" + d3.event.translate + ")scale(" + d3.event.scale + ")");
				}));
				svg.append("g");
			}
		});
	});*/
{% endblock %}

{% block utilsLeft %}
	<div style="padding: 12px">
		<div class="toggle-btn-grp joint-toggle">
			<label onclick="" class="toggle-btn">
				<input type="radio" name="group3"/>Wordnet
			</label>
			<label onclick="" class="toggle-btn">
				<input type="radio" name="group3"/>Les échos
			</label>
		</div>
		<div id="recherche">
			<div id="search_keywords">
				<form id="form_recherche" action="" method="post">
					<p>
						<input id="search" type="text" name="search" />
						<button class="buttonSearch" type="submit">Ok</button>
					</p>
				</form>
			</div>
		</div>
		<div id="wikipedia">
			<p>Click on any words to show its Wikipedia article.</p>
		</div>
	</div>
{% endblock %}

{% block tools %}
	<div class="tool-container">
		<div class="tool-items">
			<a href="#" class="tool-item gradient">
				<i class="icon-select"></i>
			</a>
			<a href="#" class="tool-item gradient" id="zoomIn">
				<i class="icon-zoom-in"></i>
			</a>
			<a href="#" class="tool-item gradient" id="zoomOut">
				<i class="icon-zoom-out"></i>
			</a>
			<a href="#" class="tool-item gradient">
				<i class="icon-print"></i>
			</a>
			<a href="#" class="tool-item gradient">
				<i class="icon-close"></i>
			</a>
		</div>
	</div>
{% endblock %}
