{% extends "::base.html.twig" %}

{% block javascripts %}
{% javascripts 'bundles/CartoRepresentationsBundle/js/*' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock %}

{% block body %}{{ parent() }}

{% endblock %}

{% block utilsLeft %}{{ parent() }}
	<div>
	<input class="button" type='button' value='Representation wordnet' id='show_rep' onclick='disabled_button_and_show()'>
	</div>
	<div id = "wikipedia">
	</div>
{% endblock %}

{% block utilsRight %}{{ parent() }}
	<form id="recherche" action="<?php echo url_for('@job_search') ?>" method="get">
		<div>
			 <label for="search_keywords"><input type="text" name="query" value="<?php echo $sf_request->getParameter('query') ?>" id="search_keywords" /></label>
			 <input class="button" type="submit" value="OK" />
		</div>
	</form>
{% endblock %}