/*************
	BOUTONS
**************/

.toggle-btn-grp { 
    margin:3px 0; 
}
.toggle-btn { 
    text-align:centre; 
    margin:5px 2px;
    padding:0.3em 0.7em; 
    color:#000; 
    background-color:#FFF; 
    border-radius:10px; 
    display:inline-block; 
    border:solid 1px #CCC; 
    cursor:pointer;
}

.toggle-btn-grp.joint-toggle .toggle-btn { 
    margin:5px 0; 
    padding:0.3em 0.7em;  
    border-radius:0;
    border-right-color:white;
}
.toggle-btn-grp.joint-toggle .toggle-btn:first-child { 
    margin-left:2px; 
    border-radius: 10px 0px 0px 10px; 
}
.toggle-btn-grp.joint-toggle .toggle-btn:last-child { 
    margin-right:2px;  
    border-radius: 0px 10px 10px 0px;
    border-right:solid 1px #CCC;
}


.toggle-btn:hover { 
    border:solid 1px #4A72A9 !important; 
    background:#f1fdfe;
}


.toggle-btn.success { 
    background:lightgreen;
    border:solid 1px green !important; 
}


.visuallyhidden { 
    border: 0; 
    clip: rect(0 0 0 0); 
    height: 1px; 
    margin: -1px; 
    overflow: hidden; 
    padding: 0; 
    position: absolute; 
    width: 1px; 
}
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { 
    clip: auto; 
    height: auto; 
    margin: 0; 
    overflow: visible; 
    position: static; 
    width: auto; 
}


/* CSS only version */
.toggle-btn-grp.cssonly * {
    width:140px;
    height:30px;
    line-height:30px;
}
.toggle-btn-grp.cssonly div {
    display:inline-block;
    position:relative;
    margin:5px 2px;
}

/**************************
	BARRE DE RECHERCHE
***************************/
#search_keywords{
border: none;
margin: 6px 0 0 15px;
vertical-align: middle;
color: #666;
padding: 0 0 0 6px;
}

#recherche {
	padding: 10px;
	background: url(../bundles/CartoRepresentationsBundle/images/search.png) left center no-repeat;
	height: 35px;
	padding-right: 7px;
	-moz-border-radius: 4px 4px 0 0;
	-webkit-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
}

.buttonSearch{
	padding: 4px 16px;
	border: none;
	outline: none;
	border-radius: 2px;
	background: #36A9C7;
	color: #FFF;
	text-shadow: 0 -1px rgba(0,0,0,0.15);
	box-shadow: 0 1px 2px rgba(0,0,0,0.2);
	font-weight: bold;
	cursor: pointer;
	-webkit-appearance: none;
}

.buttonSearch:hover{
	background: #4A72A9; 
	box-shadow: 0 1px 2px rgba(0,0,0,0.3); 
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.3); 
} 

/*************
	TOOLBAR
**************/

.tool-container {
	background-color: #d0cbcb;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(14%, #d0cbcb), color-stop(100%, #e9e5e5));
	background: -moz-linear-gradient(top, #d0cbcb 14%, #e9e5e5 100%);
	background: -ms-linear-gradient(top, #d0cbcb 14%,#e9e5e5 100%);
	background: linear-gradient(to bottom, #d0cbcb 14%,#e9e5e5 100%);
	border-radius: 3px;
	box-shadow: 0px 0px 15px #000;
	position: fixed;				
}

.tool-item {
	height: 34px;
	border-top: 1px solid #e2dfdf;
	border-bottom: 1px solid #9f9898;
	display: block;				
	width: 44px;
	text-align: center;
}

.tool-item:first-child {
	border-left: none;
}

.tool-left .tool-item:first-child {
	border-top: 1px solid transparent;
}

.tool-item:last-child {
	border-right: none;
	border-bottom: none;
}

.inactif {
	display:none;
}

.tool-item.selected, .tool-item:hover  {
	background: #a79f9f;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a79f9f), color-stop(93%, #e2dfdf));
	background: -moz-linear-gradient(top, #a79f9f 0%, #e2dfdf 93%);
	background: -ms-linear-gradient(top, #a79f9f 0%, #e2dfdf 93%);
	background: linear-gradient(to bottom, #a79f9f 0%, #e2dfdf 93%);
	cursor: pointer;
}

.tool-item:last-child:hover {
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

.tool-item:first-child:hover {
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

.tool-item:last-child:hover {
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
}

.tool-item:first-child:hover {
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
}

[class^="icon-"]{
	display: inline-block;
	width: 14px;
	height: 14px;
	*margin-right: .3em;
	line-height: 14px;
	vertical-align: text-top;
	background-image: url(../bundles/CartoRepresentationsBundle/images/tools.png);
	background-position: 14px 14px;
	background-repeat: no-repeat;
	margin-top: 9px;
}

.icon-full-screen {
	background-position: -455px -144px;
}
.icon-select {
	background-position: -290px 0;
}
.icon-zoom-in {
	background-position: -336px 0;
}
.icon-zoom-out {
	background-position: -360px 0;
}
.icon-print {
	background-position: -96px -48px;
}
.icon-close {
	background-position: -167px -96px;
}
.icon-drag-and-drop{
	background-position: -168px -73px;
}
.icon-rotate {
	background-position: -240px -24px;
}

/*************
	COMBOBOX
**************/

/* The CSS */
.selectRelation {
    padding:3px;
    margin: 0;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    -webkit-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    -moz-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    background: #36A9C7;
    color:white;
	text-shadow: 0 -1px rgba(0,0,0,0.15);
	box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    border:none;
    outline:none;
    display: inline-block;
    cursor:pointer;
	margin-bottom: 10px;
}

.selectRelation:hover{
	background: #4A72A9; 
	box-shadow: 0 1px 2px rgba(0,0,0,0.3); 
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.3); 
}

/*************
	SLIDER
**************/

.slider{
	width: 600px;
	position: relative;
	/*Instead of height we will use padding*/
	padding-top: 400px;
	
	margin: 100px auto;
	
	/*Lets add a shadow*/
	box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.75);
}


/*Last thing remaining is to add transitions*/
.slider>img{
	position: absolute;
	left: 70px; top: 0;
	transition: all 0.5s;
}

.slider input[name='slide_switch'] {
	display: none;
}

.slider label {
	/*Lets add some spacing for the thumbnails*/
	margin: 18px 0 0 18px;
	border: 3px solid #999;
	
	float: left;
	cursor: pointer;
	transition: all 0.5s;
	
	/*Default style = low opacity*/
	opacity: 0.6;
}

.slider label img{
	display: block;
}

/*Time to add the click effects*/
.slider input[name='slide_switch']:checked+label {
	border-color: #666;
	opacity: 1;
}
/*Clicking any thumbnail now should change its opacity(style)*/
/*Time to work on the main images*/
.slider input[name='slide_switch'] ~ img {
	opacity: 0;
	transform: scale(1.1);
}
/*That hides all main images at a 110% size
On click the images will be displayed at normal size to complete the effect
*/
.slider input[name='slide_switch']:checked+label+img {
	opacity: 1;
	transform: scale(1);
}

/*************
	OPTIONS
**************/

details {
	border: 1px solid #E1E1E1;
	border-radius: 5px;
	box-shadow: 0 1px 4px rgba(0, 0, 0, .4);
	color: #363636;
	margin: 0 0 .4em;
	padding: 1%;
}

summary {
	background: -webkit-linear-gradient(top, #FAFAFA 50%, #E1E1E1 50%);
	border-radius: 5px;
	cursor: pointer;
	font-size: .8em;
	font-weight: bold;
	margin: -1%;
	padding: 8px 0;
	position: relative;
	width: 102%;
}

summary:hover, details[open] summary {
	background: #E1E1E1;
}

summary:before {
	border-radius: 5px;
	color: #363636;
	display: block;
	float: left;
	font-size: 1.5em;
	font-weight: bold;
	margin: -2px 10px 0 10px;
	padding: 0;
	text-align: center;
	width: 20px;
}
