/**************
	MENU
***************/
.menugauche {
	background-image:url('/bundles/CartoAccueilBundle/images/left.png');
	background-size:100% 100%;
	display:block;
	height:100%;
	padding:30px;
}



img {
	vertical-align:top;
}

/**************
	CODE
***************/

pre {
	word-wrap: break-word;
	max-width: 100%;
	white-space: pre-wrap;
	overflow-wrap:break-word;
	border:solid 1px;
	padding:5px;
}

/****************
	TABLEAUX DE DONNEES
****************/


.donnees td, .donnees th { 
	border:solid 1px grey;
	padding:5px; 
}
