{% extends "CartoAccueilBundle:Layouts:layout.html.twig" %}


{% block body %}{{ parent() }}
	<h1>{{"Bienvenue sur notre application web de cartographie" | trans}}</h1>

	<p>{{"Bienvenue sur notre application web de cartographie" | trans}}</p>
{% endblock %}
